body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}


.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    grid-area:anchors;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
    grid-area: sidebar;
}
figure {
    text-align: center;
}
.main{
    grid-area: main;
}

.main h1{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;background: linear-gradient(to right, rgb(27, 141, 27) 50%, rgb(52, 114, 230) 50%);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main figcaption{
    font-size: small;
}

.main img{
    margin-top: 20px;
}

.main figure{
    margin-bottom: 40px;
}

#footer{
    text-align: center;
    background-color: lightgray;
    padding: 40px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: solid 1px #cdcdcd;


}

.anchors ul , li{
    margin: 10px;
}
html {
    scroll-behavior: smooth;
}
